.element__icon {
  border: none;
  transform: translateY(-10px);
  margin: 32px 21px 0 0;
  background-image: url(../../../images/heart-icon-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 19px;
  }
  .element__icon:hover {
    cursor: pointer;
    opacity: 0.5;
  }



  @media screen and (max-width: 599px) {
    .element__icon {
      transform: translateY(-5px);
    }
  }
